<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
	<title>خطا!</title>

	<meta name="viewport" content="width=device-width" />

	@Styles.Render("~/bundles/css")
</head>
<body>
    <hgroup>
        <h1>خطا.</h1>
        <h2>خطایی در هنگام پردازش درخواست رخ داده است.</h2>
    </hgroup>
</body>
</html>