<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>@ViewData["Title"] - اپلیکیشن</title>

    <!-- Meta/SEO Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />

    <!-- Fav Icons -->
    <link rel="shortcut icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/vazir-font/font-face.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/set.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Header" />

    <main class="container-fluid p-3 my-3" role="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>